<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :projecttitle %><br>
    <%= f.text_field :projecttitle %>
  </div>
  <div class="field">
    <%= f.label :projectclient %><br>
    <%= f.text_field :projectclient %>
  </div>
  <div class="field">
    <%= f.label :projectlink %><br>
    <%= f.text_field :projectlink %>
  </div>
  <div class="field">
    <%= f.label :projectcategory %><br>
    <%= f.text_field :projectcategory %>
  </div>
  <div class="field">
    <%= f.label :projecthour %><br>
    <%= f.number_field :projecthour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
