<%= render '/layouts/nav' %>
<!-- PORTFOLIO SECTION START -->
    <section id="portfolio" class="section">
        <div class="container-fluid section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">All Projects</h2>

                        <p class="section-subtitle">this is where you can see all of my projects.</p>
                        <% if user_signed_in? %> 
                        <%= link_to 'New Project', new_project_path %>
                        <% end %>
                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
                
                <div class="row">
                    <div class="col-md-12">
                        <ul class="filterable-portfolio-nav list-inline text-center">
                            <li class="active">
                                <a href="#" data-filter="*" class="btn btn-sm btn-custom disabled">All</a>
                            </li>

                            <li>
                                <a href="#" data-filter=".design" class="btn btn-sm btn-custom">Design</a>
                            </li>
                            
                            <li>
                                <a href="#" data-filter=".web" class="btn btn-sm btn-custom">Web App</a>
                            </li>
                            
                            <li>
                                <a href="#" data-filter=".mobile" class="btn btn-sm btn-custom">Mobile App</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
                
                <!-- PORTFOLIO START -->
                <div class="portfolio">
                    <div class="row filterable-portfolio">
                    <% @projects.each do |project| %>
                    <div class="item <%= project.projectcategory %> col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <% if !user_signed_in? %> 
                                        <a href="<%= project.picture %>" class="zoom" title="Buzz Lightyear">
                                        <i class="icon-Full-Screen"></i>
                                    </a>
                                    <%= link_to raw("<i class='icon-Link'></i>"), "http://#{project.projectlink}", :target => "_blank", class: "external-link" %>
                                    <% end %>
                                </div>
                                <!-- //.project-link -->
                                <% if !user_signed_in? %> 
                                <div class="project-title">
                                    <h4><%= project.projecttitle %></h4>

                                </div>
                                <% end %>
                                <!-- //.project-title -->

                                <%= image_tag(project.picture.url, size: "768x590", class: "img-responsive") if project.picture? %>
                            </div>
                            <div class="project-title" style="text-align: center">
                                <% if user_signed_in? %> 
                                    <h4 style="display: inline-block; margin-right: 10px;"><%= link_to 'Edit', edit_project_path(project) %></h4>
                                    <h4 style="display: inline-block;"><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></h4>
                                <% end %>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->
                    <% end %>
                    </div>
                    <!-- //.row -->
                </div>
                <!-- PORTFOLIO END -->
                <% if @projects.any? %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="launch text-center" style="margin-top: 80px;">
                            <a href="#" class="btn btn-lg btn-custom">Show All</a>
                        </div>
                        <!-- //.launch -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <% end %>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container-fluid -->
    </section>
    <!-- //PORTFOLIO SECTION END -->
     <section id="resume" class="section">
         <div class="container section-wrapper">
            <div class="section-content">
                <div class="row"></div>
            </div>
        </div>
     </section>
