<%= provide(:title, "Sign In") %>
<!-- CONTACT SECTION START -->
    <section id="contact" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">Sign In</h2>
                        <p class="section-subtitle">
                            Are you the owner?
                        </p>
                        <%= render "devise/shared/links" %>
                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
                
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <!-- CONTACT FORM START -->
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :name => 'contact-form', :id => 'contact-form', :class => 'contact-form validate element-line', :role => 'form' }) do |f| %>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <%= f.text_field :username, id: "username", class: "form-control required", placeholder: "Username", autocomplete: "off", required: true %>
                                        </div>
                                        <!-- //.input-group -->
                                    </div>
                                    <!-- //.form-group -->
                                </div>
                                <!-- //.col-md-12 -->
                            </div>
                            <!-- //.row -->
                             <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <%= f.email_field :email, id: "email", class: "form-control required", placeholder: "Email", autocomplete: "off", required: true %>
                                        </div>
                                        <!-- //.input-group -->
                                    </div>
                                    <!-- //.form-group -->
                                </div>
                                <!-- //.col-md-12 -->
                            </div>
                            <!-- //.row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <%= f.password_field :password, id: "password", class: "form-control required", placeholder: "Password", autocomplete: "off", required: true %>
                                        </div>
                                        <!-- //.input-group -->
                                    </div>
                                    <!-- //.form-group -->
                                </div>
                                <!-- //.col-md-12 -->
                            </div>
                            <!-- //.row -->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                    <%= button_tag(type: 'submit', id: 'submit') do %>
                                        Sign In
                                    <% end %>
                                    </div>
                                    <!-- //.form-group -->
                                </div>
                                <!-- //.col-md-12 -->
                            </div>
                            <!-- //.row -->
                        <% end %>
                        <!-- //CONTACT FORM END -->

                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //CONTACT SECTION END -->