<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @intro.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @intro.subtitle %>
</p>

<p>
  <strong>Desctitle:</strong>
  <%= @intro.desctitle %>
</p>

<p>
  <strong>Btnmain:</strong>
  <%= @intro.btnmain %>
</p>

<%= link_to 'Edit', edit_intro_path(@intro) %> |
<%= link_to 'Back', intros_path %>
