<!-- FOOTER START -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-scroll">
                        <a href="#page-top"><i class="ion-ios-arrow-up"></i></a>
                    </div>
                    <!-- //.page-scroll -->
                    
                    <ul class="list-inline social-icons">
                        <li>
                            <div class="item">
                                <%= link_to raw("<i class='fa fa-facebook'></i>"), "http://www.facebook.com/OrSereiParinha.OSP", :target => "_blank" %>
                            </div>
                            <!-- //.item -->
                        </li>
                        
                        <li>
                            <div class="item">
                                <%= link_to raw("<i class='fa fa-instagram'></i>"), "http://www.instagram.com/osp.folio/", :target => "_blank" %>
                            </div>
                            <!-- //.item -->
                        </li>
                        
                        <li>
                            <div class="item">
                                <%= link_to raw("<i class='fa fa-github'></i>"), "http://github.com/orsereiparinha", :target => "_blank" %>
                            </div>
                            <!-- //.item -->
                        </li>
                        
                        <li>
                            <div class="item">
                                <%= link_to raw("<i class='fa fa-dribbble'></i>"), "http://dribbble.com/ospfolio", :target => "_blank" %>
                            </div>
                            <!-- //.item -->
                        </li>
                    </ul>
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
            
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright text-center">
                        <p class="text-grey">&copy; <%= Time.now.year %> Sereiparinha OR. All rights reserved.</p>
                    </div>
                    <!-- //.copyright -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.container -->
    </footer>
    <!-- //FOOTER END -->