<!DOCTYPE html>
<html>
<head>
  <title>OSP | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="66">

<% if current_page?(root_url)%>
	<%= render '/layouts/header' %>
	<%= render '/layouts/navhome' %>
<% else %>
	<%= render '/layouts/nav' %>
<% end %>

<%= yield %>
<%= render '/layouts/footer' %>
</body>
</html>
